block buttons

    .buttons

      form(method="get" action="fetch_picture")
        input.btn.btn-info.btn-lg.btn-block#today(name='today' value="Today's Picture" type='submit')
        input.btn.btn-info.btn-lg.btn-block#random(name='random' value="Random Picture" type='submit')
